name: artifacts

on:
  workflow_dispatch:
  push:
    branches: [main]
  schedule:
    - cron: '30 */12 * * *'

jobs:
  packages-list:
    runs-on: ubuntu-latest
    outputs:
      matrix: "${{ steps.set-matrix.outputs.matrix }}"
    steps:
      - uses: actions/checkout@v6.0.0
      - id: set-matrix
        run: |
          set -ue
          matrix=$(jq --compact-output '.' ./packages.json)
          printf "matrix=%s" "$matrix" >> $GITHUB_OUTPUT
          echo $matrix
  build-vendor:
    runs-on: ubuntu-latest
    needs: [packages-list]
    strategy:
      fail-fast: true
      matrix:
        # PN PV SRC_URI S
        package: ${{ fromJson(needs.packages-list.outputs.matrix) }}
    name: "${{ matrix.package.PN }}-${{ matrix.package.PV }}"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: cache package
        id: cache-package
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: dep-archives/
          key: package-${{ matrix.package.PN }}-${{ matrix.package.PV }}

      - name: make-vendortarball
        if: steps.cache-package.outputs.cache-hit != 'true'
        run: |
          export PN="${{ matrix.package.PN }}"
          export PV="${{ matrix.package.PV }}"
          export SRC_URI="${{ matrix.package.SRC_URI }}"
          export S="${{ matrix.package.S }}"
          ${GITHUB_WORKSPACE}/make-vendor.sh "${PN}" "${PV}" "${SRC_URI}" "${S}"
      - name: archive artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "${{ matrix.package.PN }}-${{ matrix.package.PV }}"
          path: |
            dep-archives/
  push:
    if: ${{ github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    needs: build-vendor
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
      - name: download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: dep-archives
      - name: gh
        run: |
          gh release delete v0.0.0 --cleanup-tag --yes || true
          gh release create v0.0.0 --latest
          find "${PWD}"/dep-archives/* -type f -exec gh release upload v0.0.0 '{}' --clobber \;
          gh release edit v0.0.0 --draft=false
        env:
            GH_TOKEN: ${{ github.token }}
