name: artifacts

on:
  workflow_dispatch:
  push:
    branches: [main]
  schedule:
    - cron: '30 */12 * * *'

jobs:
  packages-list:
    runs-on: ubuntu-latest
    outputs:
      matrix: "${{ steps.set-matrix.outputs.matrix }}"
    steps:
      - uses: actions/checkout@v5
      - id: set-matrix
        run: |
          set -ue
          matrix=$(jq --compact-output '.' ./packages.json)
          printf "matrix=%s" "$matrix" >> $GITHUB_OUTPUT
          echo $matrix
  build-vendor:
    runs-on: ubuntu-latest
    needs: [packages-list]
    strategy:
      fail-fast: true
      matrix:
        # PN PV SRC_URI S
        package: ${{ fromJson(needs.packages-list.outputs.matrix) }}
    name: "${{ matrix.package.PN }}-${{ matrix.package.PV }}"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: cache package
        id: cache-package
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: dep-archives/
          key: package-${{ matrix.package.PN }}-${{ matrix.package.PV }}

      - name: make-vendortarball
        if: steps.cache-package.outputs.cache-hit != 'true'
        run: |
          export PN="${{ matrix.package.PN }}"
          export PV="${{ matrix.package.PV }}"
          export SRC_URI="${{ matrix.package.SRC_URI }}"
          export S="${{ matrix.package.S }}"
          ${GITHUB_WORKSPACE}/make-vendor.sh "${PN}" "${PV}" "${SRC_URI}" "${S}"
      - name: archive artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: "${{ matrix.package.PN }}-${{ matrix.package.PV }}"
          path: |
            dep-archives/
  push:
    if: ${{ github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    needs: build-vendor
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - name: download artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          path: dep-archives
      - name: gh
        run: |
          gh release delete v0.0.0 --cleanup-tag --yes || true
          gh release create v0.0.0 --latest
          find "${PWD}"/dep-archives/* -type f -exec gh release upload v0.0.0 '{}' --clobber \;
          gh release edit v0.0.0 --draft=false
        env:
            GH_TOKEN: ${{ github.token }}
